.body{
    
}

.first-sec{
   
    display: flex;
    padding-top: 100px;
    

}
h1{
    word-spacing: 5px;
}
.intro {
    width: 50vw;
    display: block;
    justify-content: center;
    padding-top: 5vh;
    font-family: 'Poppins', sans-serif;
 
    
}
.org-spn{
    color: orangered;
}
.btn{
    margin-top: 50px;
}
.link-btn{
    margin-top: 100px;
    color: whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(to right, tomato, rgb(250, 158, 53));
    padding: 10px 20px;
    border-radius: 5px;
}
.intro h1{
    font-weight: 700;
    font-size: 35px;
}

.img img{ 
   
    width: 40vw;  
}

.second-sec{
    background-image: url(/images/shapes/Frame\ 58.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.right-part{
    margin: 10%;
}
